.tag {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
    width: 7.188rem;
    height: 25px;
    border-radius: 0.625rem;
    background-color: var(--primary-color);
    margin-right: 0.313rem;
    text-align: center;
    line-height: 0.8;
}

@media only screen and (max-width: 375.9px) {
    .tag {
        font-size: 0.625rem;
        width: 5.25rem;
        height: 1.125rem;    
        border-radius: 0.313rem;
    }
}