

.collapse-container {
    width: 1023px;
    margin: 30px auto;
    
}
  
.collapse-style {
    height: 53px;
    padding: 10px 20px 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
  
.arrow-icon {
    transition: transform 0.3s ease-in-out;
}
  
.down {
    transform: rotate(-180deg);
}
  
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
  
.collapse-content.open {
    max-height: 500px;
    transition: max-height 0.8s ease-in-out;  
}
.content-inner {
    padding: 10px 20px 10px 15px;
}