.collapse-style {
    height: 3.3125rem;
    padding: 0.625rem 1.25rem 0.625rem 0.9375rem;
    cursor: pointer;
    border-radius: 0.3125rem;
}

.collapse-style h2 {
    font-size: 1.5rem;
} 

.arrow-icon {
    transition: transform 0.3s ease-in-out;
}
  
.down {
    transform: rotate(-180deg);
}
  
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
  
.collapse-content.open {
    max-height: 31.25rem;
    transition: max-height 0.8s ease-in-out;  
}
.content-inner {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
}


@media only screen and (max-width: 375.9px) {
    .content-inner {
        font-size: 0.75rem;
        padding: 0.8125rem 1.25rem 1rem 1.25rem;
    }   
}
