.rental-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 77.5rem;
    margin: 0 auto;
}

.rental-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.rental-localisation h1 {
    color: var(--primary-color);
    margin-bottom: 0.625rem;
    font-weight: 500;
}
.rental-tags {  
    display: flex;
    margin-top: 20px;
}

.rental-host-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 21px;
}
.rental-host {
    display: flex;
    flex-direction: column;
}
.rental-host-info span { 
    display: flex;
    justify-content: flex-end;
    color: var(--primary-color);
    margin-right: 10px;
}
.rental-host-info img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}
.rental-rating img {
    margin-left: 20px;
}

.rental-collapse {
    display: flex;
    gap: 5rem;
}

.equipment-list {
    list-style-type: none;
}


@media only screen and (max-width: 375.9px) {
    .rental-content {
        margin: auto;
    }
    .rental-location {
        display: flex;
        flex-direction: column;
        margin: 0 1.25rem;
    }
    .rental-localisation {
        margin-bottom: 1.25rem;
    }
    .rental-localisation h1 {
        font-size: 1.125rem;
    }
    .rental-localisation span {
        font-size: 0.875rem;
    }
    .host-rating {
        display: flex;
        flex-direction: row-reverse;
    }
    .rental-collapse {
        display: block;
    }
    .rental-rating img {
        margin: 0 0.325rem 0 0;
        width: 0.813rem;
    }
    .rental-host-info {
        margin-bottom: 0;
    }
    .rental-host-info span { 
        font-size: 0.75rem;
    }
    .rental-host-info img {
        width: 2rem;
        height: 2rem;
    }
    .host-rating {
        justify-content: space-between;
        align-items: center;
    }
}