.rental-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto
}

.rental-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.rental-localisation h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: 500;
}
.rental-tags {  
    display: flex;
    margin-top: 20px;
}

.rental-host-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 21px;
}
.rental-host {
    display: flex;
    flex-direction: column;
}
.rental-host-info span { 
    display: flex;
    justify-content: flex-end;
    color: var(--primary-color);
    margin-right: 10px;
}
.rental-host-info img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.rental-rating img {
    margin-left: 20px;
}

.rental-collapse {
    display: flex;
    gap: 80px;
}

.equipment-list {
    list-style-type: none;
}


@media only screen and (max-width: 376px) {
    .rental-content {
        margin: auto 20px;
    }
    .rental-location {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .rental-localisation {
        margin-bottom: 20px;
    }
    .rental-localisation h1 {
        font-size: 18px;
    }
    .rental-localisation span {
        font-size: 14px;
    }
    .host-rating {
        display: flex;
        flex-direction: row-reverse;
    }
    .rental-collapse {
        display: block;
    }
    .rental-rating img {
        margin: 0 5px 0 0;
        width: 20px;
    }
    .rental-host-info {
        margin-bottom: 0;
    }
    .host-rating {
        justify-content: space-between;
        align-items: center;
    }
}