.collapse-container {
    margin-bottom: 1.875rem;
}

.about-collapse {
    width: 71%;
    margin: 1.875rem auto;  
}

.collapse-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.collapse-style h2 {
    color: white;
}

.collapse-content {
    border-radius: 0 0 0.3125rem 0.3125rem;
    background-color: #F6F6F6;
}

.rotate {
    transition: transform 0.3s ease;
}
  
.rotate.down {
    transform: rotate(-180deg); 
}


@media only screen and (max-width: 375.9px) {
    .about-collapse {
        width: 90%;
        margin: 1.25rem auto;
    }
  }