.collapse-container {
    margin-bottom: 30px;
}

.collapse-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.collapse-style h2 {
    color: white;
}

.collapse-content {
    border-radius: 0 0 5px 5px;
    background-color: #F6F6F6;
}

.rotate {
    transition: transform 0.3s ease; /* Durée et fonction de transition */
}
  
.rotate.down {
    transform: rotate(-180deg); /* Rotation de 180 degrés */
}