
footer {
    background-color: black; /* Définir la couleur de fond en noir */
    color: white; /* Définir la couleur du texte en blanc */
    padding: 20px; /* Ajouter du padding si nécessaire */
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
  }
  
  .footer-logo {
    width: 20px; /* Ajustez la largeur de l'image selon vos besoins */
    margin-bottom: 10px; /* Ajoutez de la marge en bas de l'image si nécessaire */
  }