.banner-container {
  margin: 0 auto 2.8125rem;
  position: relative;
  max-width: 86%;
}

.banner-image {
  height: 223px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  position: relative;
}

.banner-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner-text {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 375.9px) {
  .banner-container {
    margin: 0 auto;
    max-width: 91%;
  }
  .banner-image {
    height: 6.938rem;
  }
  .banner-text {
    font-size: 1.5rem;
    padding: 0 5.6125rem 0 1rem;
  }
}